@import "tailwindcss";

*{
    font-family: gilroy;
}

.popup{
    box-shadow: 0 0 1000px rgba(0, 0, 0, 0.25);
}

.tag:focus-within{
    border-color: #3b82f6;
}

.search:focus-within{
    border-color: #3b82f6;
    color: #3b82f6;
}

::placeholder{
    color: #11111155;
}